.header {
  display: flex;
  justify-content: center;
  background-color: #343a40;
}

.header .menu {
  margin: 0;
  padding: 0;
  height: 55px;
  display: flex;
  width: 1140px;
  color: white;
  list-style: none;
  align-items: center;
}

.header .menu .menu-item {
  height: 100%;
}

.header .menu .menu-item .menu-link {
  height: 100%;
  color: white;
  display: flex;
  padding: 0 15px;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  text-transform: uppercase;
}

.header .menu .menu-item .menu-link:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
