body {
  margin: 0;
  padding: 0;
  color: #636b6f;
  background-color: #ededed;
  font-family: Raleway, sans-serif;
}

body .content {
  width: 1140px;
  margin: 0 auto;
}

body .content .box {
  padding: 15px;
  margin: 15px 0;
  background-color: white;
  box-shadow: 0 0 15px #ccc;
}

body .content .box .title {
  font-weight: 400;
}
