body {
  margin: 0;
  padding: 0;
  color: #636b6f;
  background-color: #ededed;
}

body .container .box {
  padding: 15px;
  margin: 15px 0;
  background-color: white;
  box-shadow: 0 0 15px #ccc;
}

body .container .box .title {
  font-weight: 400;
}

body .container .box .thead {
  color: white;
  background-color: #636b6f;
}

body .container .box .box-legend {
  display: flex;
  align-items: center;
}

body .container .box .box-legend .legend {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

body .container .box .box-legend .legend.exato {
  background-color: rgba(11, 130, 11, 0.6);
}

body .container .box .box-legend .legend.vencedor {
  margin-left: 5px;
  background-color: rgba(150, 11, 11, 0.7);
}
